USE_DYNAMO=false

DB_HOST=postgres
DB_NAME=dijkstrafood
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_SSLMODE=disable

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
