{
  "region": "us-east-1",
  "project_name": "dijkfood-demo",
  "api": {
    "uvicorn_workers": 4
  },
  "your_ip_cidr": "0.0.0.0/0",
  "dockerhub_images": {
    "api": "SEU_USUARIO/dijkstrafood-api:latest",
    "restaurant_simulator": "SEU_USUARIO/dijkstrafood-restaurant-simulator:latest",
    "delivery_service": "SEU_USUARIO/dijkstrafood-delivery-service:latest",
    "routing_service": "SEU_USUARIO/dijkstrafood-routing-service:latest",
    "realtime_metrics_service": "SEU_USUARIO/dijkstrafood-realtime-metrics-service:latest"
  },
  "kinesis": {
    "stream_name": "dijkfood-order-events",
    "shard_count": 1,
    "iterator_type": "LATEST",
    "poll_interval_seconds": 1,
    "records_limit": 500
  },
  "ecs": {
    "cpu": "1024",
    "memory": "2048",
    "desired_count_api": 1,
    "desired_count_restaurant_simulator": 1,
    "desired_count_delivery_service": 1,
    "desired_count_routing_service": 1,
    "desired_count_realtime_metrics_service": 1,
    "assign_public_ip": true
  },
  "database": {
    "db_name": "dijkstrafood",
    "username": "postgres",
    "password": "postgres",
    "allocated_storage": 20,
    "instance_class": "db.t3.micro",
    "publicly_accessible": false,
    "multi_az": false
  },
  "dynamodb": {
    "table_name": "CourierLocation"
  },
  "analytics": {
    "enabled": true,
    "stream_name": "dijkfood-demo-order-events",
    "firehose_name": "dijkfood-demo-order-events-firehose",
    "s3_bucket": "",
    "s3_prefix": "order-events",
    "glue_database": "dijkfood_demo_analytics",
    "glue_table": "order_events",
    "firehose_role_arn": ""
  },
  "iam": {
    "ecs_execution_role_arn": "",
    "ecs_task_role_arn": ""
  },
  "autoscaling": {
    "api": {
      "min": 1,
      "max": 10,
      "target_cpu": 60.0,
      "target_memory": 70.0
    },
    "restaurant_simulator": {
      "min": 1,
      "max": 3,
      "target_cpu": 60.0,
      "target_memory": 70.0
    },
    "routing_service": {
      "min": 1,
      "max": 6,
      "target_cpu": 60.0,
      "target_memory": 70.0
    },
    "delivery_service": {
      "min": 1,
      "max": 6,
      "target_cpu": 60.0,
      "target_memory": 70.0
    },
    "realtime_metrics_service": {
      "min": 1,
      "max": 2,
      "target_cpu": 60.0,
      "target_memory": 70.0
    }
  }
}
