RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
API_URL=http://api:8000
COURIER_ID=1
MOVE_INTERVAL=1
INITIAL_LAT=-22.1200
INITIAL_LON=-51.3900
IGNORE_LOCATION_ERRORS=true
