RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
API_URL=http://api:8000
WORKER_MODE=all
RESTAURANT_ID=1
DISCOVERY_INTERVAL_SECONDS=10
IDLE_SLEEP_SECONDS=0.5
CONFIRMED_DELAY_SECONDS=1.0
PREPARING_DELAY_SECONDS=2.0
